<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h3> Edit your Chat: <%= chat._id %> </h3>
    <p>This message was sent from <b> <%= chat.from %> </b> to <b> <%= chat.to %> </b> </p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="10" cols="50"> <%= chat.msg %> </textarea>
        <br />
        <button>Edit</button>
    </form>
</body>
</html>